@font-face {
    font-family: "medium";
    src: url("./fonts/medium.woff") format("woff");
}

@font-face {
    font-family: "regular";
    src: url("./fonts/regular.ttf") format("trueType");
}

@font-face {
    font-family: "mono";
    src: url("./fonts/mono.woff") format("woff");
}

body {
    font-family: "medium";
}

a {
    text-decoration: none;
    color: inherit;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
