@font-face {
    font-family: "bold";
    src: url("./fonts/bold.otf") format("openType");
}

@font-face {
    font-family: "regular";
    src: url("./fonts/regular.otf") format("openType");
}

@font-face {
    font-family: "title";
    src: url("./fonts/title.otf") format("openType");
}

@font-face {
    font-family: "mono";
    src: url("./fonts/mono.otf") format("openType");
}

body {
    font-family: "regular";
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-weight: normal;
    font-family: bold;
}

.title {
    font-family: title;
    font-size: 4rem;
    margin-bottom: -10px;
}

.introbody {
    font-size: 1.2rem;
    padding-left: 4px;
}

.bodytext {
    margin-top: 7rem;
    width: 70%;
    margin-bottom: 8rem;
}

.thumbnail {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 13pt;
}

.bodytext {
    font-family: "regular";
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0.7rem;
    }

    .introbody {
        font-size: 1rem;
        padding-left: 4px;
    }

    .bodytext {
        margin-top: 6rem;
        margin-bottom: 3rem;
        width: 100%;
    }
}
